/* TODO: stop hard coding sizes. ensure they are responsive for all screen sizes / on mobile devices */

.smallImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-bottom: 20px;
  }
  
.mediumImage {
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textHeading {
    font-size: 42px;
    
}

.textSubHeading {
    font-size: 26px;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
