.footer {
    margin-top: rem(120px);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  }
  
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}


.link {
  color: var(--mantine-color-gray-6); /* Set the color to the desired dimmed color */
  text-decoration: none; /* Remove underline if needed */
  outline: none; /* Remove focus outline */
}

.link:hover {
  text-decoration: underline; /* Add underline on hover if desired */
}


.smallImage {
  width: 100px;
  height: auto;
}